/* This website is probably going to be styled similarly to my other website, behind-the-screen */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Serif');

body {
	display: flex;
	flex-direction: column;
	justify-content: "space-evenly";
	padding: 0;
	margin: 0;
	background-color: #43c9e8;
	font-family: "IBM Plex Sans", sans-serif;
}

#title {
	display: flex;
	width: 100%;
	height:95vh;
	align-items: center;
	justify-content: center;
	background-color: white;
	flex-direction: column;
}

.content-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: .8em;
	min-height: 90vh;
}